<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="zh">

<head th:insert="~{commons/part::head}"></head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <aside th:insert="~{commons/part::leaf}"></aside>

        <header th:insert="~{commons/part::header(var='后台首页')}"></header>

        <!--页面主要内容-->
        <main class="lyear-layout-content">
            [[${errorMsg}]]
            <h1>欢迎来到后台界面！</h1>
        </main>
        <!--End 页面主要内容-->
    </div>
</div>


<script type="text/javascript" th:src="@{/backage/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/backage/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/backage/js/perfect-scrollbar.min.js}"></script>
<script type="text/javascript" th:src="@{/backage/js/main.min.js}"></script>

</body>

</html>